.Order {
    width: 80%;
    background-color: white;
    border: 1px solid #eee;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
    0 2px 4px 0 rgba(0,0,0,0.08);
    border-radius: 8px;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;

}