.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid white;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #59B0E5;
    border: 1px solid white;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #59B0E5;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    margin-right: 10px;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #038CE0;
    color: white;
}

.BuildControl .More {
    background-color: #037CC5 ;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #42B7FF;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #28AAF9;
    color: white;
}